:root {
  // brand colors
  --c-brand: #617cbf;
  --c-brand-light: #617cbf;
}

html.dark {
  // brand colors
  --c-brand: #617cbf;
  --c-brand-light: #617cbf;
}

// .navbar .navbar-item .external-link[aria-label="Docs GitHub"]
.navbar .navbar-item:last-child
{
  display: none;
}

.navbar .search-box input[type="search"] {
  padding-left: 2.2rem;
}
